{% extends "base.html" %}

{% block title %}Dashboard - My Application{% endblock %}

{% block content %}
<div class="jumbotron">
    <h2 class="display-4">Welcome, {{ user.full_name }}</h2>
    <p class="lead">Manage your portfolios and stock lists with ease. Check your recent activities and explore the market trends.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Recent Activities</h2>
        <p>Make Changes to Portfolios!</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('transactions') }}">Make a Transaction</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Quick Links</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ url_for('portfolios') }}">View My Portfolios</a></li>
            <li class="list-group-item"><a href="{{ url_for('stocklists') }}">View My Stock Lists</a></li>
            <li class="list-group-item"><a href="{{ url_for('stock_history') }}">View Stock History</a></li>
        </ul>
    </div>
</div>
{% endblock %}
