<!-- stocks.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Here is a list of all the stocks</h2>
    <!-- Here is the search bar for filtering the stocks -->
    <form method="GET" action="{{ url_for('stocks') }}">
        <input type="text" name="search" placeholder="Search stocks..." value="{{ search_query }}">
        <input type="submit" value="Search">
    </form>

    <div class="stock-table-container">
        <table class="stock-table">
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Stock Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.name }}</td>
                        <td>
                            <a href="{{ url_for('view_stock_history', symbol=stock.symbol) }}" class="btn btn-primary">View History</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
